# server:
#   port: 8090
# server: { port: 8081 }
spring:
  profiles:
    active: dev
  # config:
  #   location:
  #     /tmp/
  messages:
    basename: i18n.login
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/mybastic
    driver-class-name: com.mysql.cj.jdbc.Driver
    schema:
      - classpath:sql/department.sql
#    initialization-mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  redis:
    host: 127.0.0.1

person:
  # lastName: Jame
  last-name: Jame${random.uuid}
  age: ${random.int}
  boss: false
  birth: 2017/01/01
  maps: {k1: v1, k2: v2}
  lists:
    - lisi${person.aa:hello}
    - Kobe
    - ${person.bb}
  dog:
    name: ${person.last-name}_dd
    age: 2

server:
  # servlet:
    # context-path: /root
  port: 8090

logging:
  level:
    com: trace
  # file:
  #   name: my.log

---
server: { port: 8083 }
spring:
  profiles: dev
  thymeleaf:
    cache: false
# debug: true
logging:
  config: classpath:log4j2-dev.xml
---
server: { port: 8080 }
spring:
  profiles: prod
logging:
  config: classpath:log4j2.xml

# java -jar *.jar --spring.profiles.active=dev
# java  -Dspring.profiles.active=dev -jar *.jar
